a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #a69bc4;
    cursor: pointer;
}

li{
    list-style: none;
}


/*****************************************PROFILE_CLIENT******************************************************/
.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: 2%; */
}


/*****************************************HEADER*********************************************/
.Header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    top: 0;
    height: 15%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
}

.Logo{
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;  
    color: #665492;
    font-size: 3em;
    margin-left: 2%;
}

.navbar_items{
    display: flex;
    width: 400px;
    justify-content: space-between;
    color: #665492;
    font-family: 'El Messiri', sans-serif;
    font-size: 1.1em;
    margin-top: 6%;
    font-weight: 500;
    padding-left: 5%;
}

.shop:hover{
    cursor: pointer;
}

.search_bar{
    border-radius: 2rem;
    padding-left: 7%;
    height: calc(2.5em + 0.75rem + 2px);
    font-family: 'El Messiri', sans-serif;
    margin-left: -25%;
    border-color: #bfb9ce;
}

.form-control:focus{    
    border-color: #bfb9ce;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(102, 84, 146, 0.25) !important;
}

.icon_circle{
    border: 1px rgba(102, 84, 146, 0.4) solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10%;
}

.fa-shopping-cart{
    opacity: 50%;
}


/***********MODAL****************/
.add-product{
    position: fixed;
    top: 25px;
    right: 120px;
}


.username{
    font-family: 'El Messiri', sans-serif;
    color: #665492;
    margin-left: 2%;
    font-size: 1.1em;
    margin-right: 2%;
}


.modal_title{
    color:#665492;
    font-family:'El Messiri', sans-serif;
    margin: -1% 0 -1% 33%;
}

.modal_body{
    margin-bottom: 2%;
}

.modal_labels{
    margin: -1% 0 0 2%;
    color:#665492;
    font-family:'El Messiri', sans-serif;
    width: 30%;
} 

.modal_input{    
    font-family: 'El Messiri', sans-serif;
    height: calc(2.5em + 0.75rem + 2px);
    border-color: #bfb9ce;
    border-radius: 2rem;
}

.modal_footer{
    margin: -2% 0 -2% 0;
}

.modal_buttons{
    margin-top: -1%;
}

.button{
    border: none;
    background-color: rgba(102, 84, 146, 0.25);
    cursor: pointer;
    color: rgb(102, 84, 146);    
    border-radius: 2rem;
    height: calc(2.3em + 0.75rem + 2px);
    width: 120px;
    font-family: 'El Messiri', sans-serif;
    font-size: 1em;
    text-align: center;
    padding-top: 3px;
    letter-spacing: 1px;    
}

.button:hover{
    color: white;    
    background-color: rgb(77, 58, 122);
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Add image';
    display: inline-block;
    border: 1px solid #bfb9ce;
    border-radius: 2rem;
    padding: 5% 0 4% 20%;
    height: calc(2.5em + 0.75rem + 2px);
    cursor: pointer;
    color: rgb(102, 84, 146);   
    font-family: 'El Messiri', sans-serif;
    width: 200px;
  }
  .custom-file-input:hover::before {
    color: white;    
    background-color: rgb(77, 58, 122);
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

/*******************************************CONTAINER**********************************************************/

.Container{
    height: 200px;
    margin-top: 6%;
}

/*****************BANNER******************/
.banner{
    /* margin-top: 2%; */
    background-color: rgb(200,235,255);
    display: flex;
    /* width: 100%; */
}

.img{
    /* margin-top: 2%; */
}

.discount_release{
    margin: 10% 5%;
    width: 300px;
}

.percentage{
    font-family: "Yellowtail", cursive;
    color: #2577fd;
    font-size: 40px;
    display: inline-block;
}

.collection{
    color: #1f2022;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.1;
    font-family: 'Playfair Display', serif;    
    text-transform: capitalize;
}

.best{
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 39px;
    color: #313639;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.shop_now{
    font-size: 1.2em;
}


.section_title{    
    color: #665492;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    font-family: 'El Messiri', sans-serif;
    text-transform: capitalize;
    padding: 2%;
    margin-bottom: -2%;
}

/*******************LATEST***************************/
.latest{

}

.menu{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.latest_menu{
    padding-bottom: 10px;
    display: block;
    color: #8f8f96;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-top: 3%;
}

/*******************PRODUCTS*************************/
.products{
  
     margin: 2% 5%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products_list{
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.desc{
    font-family: "Playfair Display", serif;
    margin-top: 3%;
    margin-left: 1%;
    font-size: 1em;
    color: #383838;    
    text-align: center;
    font-style: normal;
    font-weight: 500;
}

.price{
    color: #ff0065;
    font-size: 1.2em;
    margin-top: -2%;
}

/**********CONTACT**********/
.contact{
    margin: 0 3% 10% 3%;
}

.contact_section{
    padding: 5% 2%;
    /* margin-top: 3%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.get_in_touch{
    font-family: 'Playfair Display', serif;    
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 1%;
}

.sent_us{
    color: #373b41;
    font-size: 20px;
    margin-bottom: 55px;
    font-family: 'Poppins', sans-serif;
}

.form_contact{
    width: 30%;
    margin: 2% 0;
}

.input_form{
    height: 60px;
    width: 100%;
    padding: 10px 32px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 5%;
}

.button_form{
    margin-top: 3%;
}


/*************************FOOTER*******************/
.footer{
    /* margin: 2% 5% 1% 5%; */
    position: relative;
    background-color: white;
    /* width: 100%; */
    /* bottom: 0; */
    top:1000vh;
    width: 100%;
}


.footer_content{
    display: flex;
    
    justify-content: space-around;
}

.copyright{
    font-family: 'Poppins', sans-serif;
    color: #888888;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin: 1% 0;
    width: 80%;
}

.social_icons{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

/*************SHOPPING CART**************/
.products_list{
    margin: 2% 5%;
}


.shoppingCart{
    text-align: center;
    padding-top: 10%;
}

thead tr th {
    border-top: 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    color: #828bb2;
    /* border-bottom: #c6ccd5 1px solid !important; */
    border-bottom: 0px !important;
}

tbody tr td {
    border-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
    color: #828bb2;
    /* border-top: #c6ccd5 1px solid !important; */
    border-bottom: 0px !important;
}
tbody tr td h5{ 
    font-size: 14px;
}

.table td, .table th {
    padding: .75rem;
}

th {
    text-align: inherit;
}
